<!-- src/app/app.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <div class="d-flex justify-content-between w-100 align-items-center">
        <!-- Left Side: Welcome and Travel Request Form -->
        <div class="d-flex">
          <a class="navbar-brand me-3" routerLink="#"><b>Welcome</b></a>
          <a class="nav-link me-3" routerLink="/request-form"><b>Travel Request Form</b></a>
        </div>
  
        <!-- Right Side: Logout -->
        <a class="nav-link" routerLink="/"><b>Logout</b></a>
      </div>
    </div>
  </nav>
  
  
