<div class="container mt-4">
    <h2>Admin Home</h2> <br>
    <div class="row">
      <div class="col-md-2">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Add User</h5>
            <p class="card-text">Add a new user to the system.</p>
            <a routerLink="/add-user" class="btn btn-custom">Go to Add User</a>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Assign Role</h5>
            <p class="card-text">Assign roles to users.</p>
            <a routerLink="/assign-role" class="btn btn-custom">Go to Assign Role</a>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">Display the total number of users.</p>
            <a routerLink="/total-users" class="btn btn-custom">Go to Total Users</a>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">User Grid</h5>
            <table class="table" style="text-align:center">
              <thead>
                <tr>
                  <th>Employee First Name</th>
                  <th>Employee Last Name</th>
                  <th>Employee ID</th>
                  <th>Employee Department</th>
                  <th>Role</th>
                  <th>Manager Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              
                   
            
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
